

body {
    font-family: Arial, sans-serif;
    background-color:#353333;
    color: white;
    transition: background-color 0.1s, color 0.1s;
    margin: 0;
    padding: 20px;
}

.dark-mode canvas{
    margin-top:-50%;
    background-color:black;
  }

  #api-icon{
    color:greenyellow;
  }
  .dark-mode #api-icon{
    color:skyblue;
  }
  #particles-js {
    width: 100%;
    height: 200%;
    z-index: -1; /* Ensure it stays behind other content */
    background-color:none;
    background-image: url(''); /* Your background image URL */
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  
  
/* Styles for the custom alert */
.custom-alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    z-index: 9999;
  }  


  #particles-js{
    width: 100%;
    height: 100%;
    background-color:black;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1); /* Adjust transparency */
    border: 2px solid rgba(255, 255, 255, 0.2); /* Adjust transparency */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Adjust shadow */
    backdrop-filter: blur(3px);
    border-color:black;
    -webkit-backdrop-filter: blur(5px); /* For Safari */
}


.dark-mode .container
{
    backdrop-filter: blur(3px);   
}

.form-example {
    text-align: center;
    margin-top: 0; /* Reset default margin */
    margin-bottom: 20px; /* Optional margin at the bottom */
}


.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}


.form-group input[type="password"],
.form-group select {
    width: calc(100% - 12px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-color:black;
}

.form-group .btn {
    padding: 8px 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top:10px;
    border-color:black;
}



.dark-mode .form-group input[type="text"],
.dark-mode .form-group input[type="password"],
.dark-mode .form-group select,
.dark-mode .form-group label,
.dark-mode .form-group .btn {
    color: white;
    background-color: black;
    border-color: white;
}

.form-group .clear 
{
    background: #007bff;
    border: 1px solid #007bff;
    color: #fff;
}
.form-group .clear:hover {
    background: #0056b3;
}
.form-group .submit 
{
    background: #28a745;
    border: 1px solid #28a745;
    color: #fff;
}
.form-group .submit:hover {
    background: #218838;
}

.dark-mode {
    background-color: #000000;
    color: #fff;
}


.dark-mode .form-group input,
.dark-mode .form-group select,
.dark-mode .form-group textarea,
.dark-mode .form-group label
 {
    color: #fff;
    background-color: #000;
    border-color: #fff;
}
.dark-mode .form-group .btn {
    color: #fff;
    background-color: #000;
    border-color: #fff;
    transition: all 0.3s ease;
}

.dark-mode .form-group .btn:hover {
    background-color: #333;
    border-color: #fff;
    color: #fff;
}

/* Mode button styles */
.mode {
    margin-top:2px;
    margin-left: 95%;
    border-radius: 50%;
    width: 50px;
    height: 49px;
    background-color: #000000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 1000;
}
.dark-mode .mode {
    background-color: #fff;
    color: #000;
}

.light-mode-icon {
display: none;
}

/* Add animation class */
.animated {
transition: transform 0.5s ease-in-out;
}
.option{
width:20%;
}

.clear{
margin-left:10px;
}
.submit
{
margin-left:60%;
}
.form-group .password
{
width:20px;
}
.dark-mode .form-group label
{
background-color:#333333;
}
.column {
display: inline-block;
vertical-align: top;
margin-right: 20px; /* Adjust spacing between columns */
}

.form-group {
margin-bottom: 10px;
}

.code {
display: flex;
flex-direction: column;
}

.code label {
margin-bottom: 5px;
}


.form-group.code {

width: calc(100% - 20px); /* Adjust width as needed */
bottom: 0;
left: 0;
}

/* Adjustments for the textarea */
#inputcode {
width: 618px;
padding: 8px;
border-color:black;
border-radius: 4px;
box-sizing: border-box;

}
.row {
display: flex;
width: 100%;
margin-left:-100px;
}
.column-left,
.column-right {
    width: 50%;
    box-sizing: border-box;
    backdrop-filter: blur(2px);
    border: 2px solid rgba(255, 255, 255, 255); /* Adjust transparency */
    border-radius: 10px;
    padding: 20px;
    margin-right: 20px;
    border-color:black;
}
.dark-mode .column-left .column-right {
    border-color:white;
}
.form-group.option {
    display: flex;
    align-items: center;
}

.form-group.option label {
    flex: 1;
    margin-right: 10px; /* Adjust spacing between label and select */
}

.form-group.option select {
    flex: 2;
    width: 100%;
    margin-left: 60px;
    margin-right: -220px;
}

.navbar {

    background-color: grey;
    margin-top:-20px;
    margin-bottom:35px;
    border-radius:8px;
    height:48px;
    z-index:-20;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: black;
    border-radius:10px;
    color: #ddd;
}
.dark-mode .navbar {
    overflow: hidden;
    background-color: black;
    margin-top:-20px;
    margin-bottom:35px;
    border-radius:8px;
}

.dark-mode .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.dark-mode .navbar a:hover {
    background-color: #ddd;
    border-radius:10px;
    color: black;
}

.column-left {
    margin-left: 150px;
    margin-top: 20px;
}


.fixed-dropdown {
width: calc(100% - 20px); /* Adjust as needed */
}

.column-right {
flex-direction: column;
justify-content: flex-start;
border-color:black;
align-items: flex-start;
margin-top:20px;
}

/* Optional: Adjust styles for better visualization */
.form-group {
margin-bottom: 20px;
}

button.btn.codeclear {
    background: #007bff;
    border: 1px solid #007bff;
    color: #fff;
    width: 10%;
    margin-left: 70%;
    margin-top: -54px;
    margin-bottom: 40px;
    text-align:center;
}
button.btn.codecopy {
    background: #28a745;
    border: 1px solid #28a745;
    color: #fff;
    width: 10%;
    margin-left: 85%;
    margin-top: -72px;
    margin-bottom: 40px;
    text-align:center;
}
textarea,
input[type="text"],
.fixed-dropdown {
width: 617px;
resize:none;
padding: 8px;
overflow-x: scroll;
border-radius: 6px;
box-sizing: border-box;
border-color:black;
}
.dark-mode textarea,
.dark-mode input[type="text"],
.dark-mode .fixed-dropdown,
.dark-mode #inputcode 
{
background-color: black; 
color: white; 
border-color: white;
}

.loader-container{
position: fixed;
top: 0; left: 0;
z-index: 10000;
background: #e6eff1;
display: flex;
align-items: center;
justify-content: center;
height: 100%;
width: 100%;
}
.loader-container.fade-out{
top: -120%;
}
textarea{
    width: 659px; 
    height: 378px;
  }

.dark-mode .column-left{
    border-color:white;
}
.dark-mode .column-right{
    border-color:white;
}
/* Add a background GIF to the gif-container */
/* .gif-container {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1; 
background-image: url('bg.gif'); 
background-size: cover;
background-position: center; 
opacity: 0.5; 
pointer-events: none; 
} */

label {
background-color: rgba(143, 143, 143,0);
color: white;
font-weight:bold;
padding: 5px;
border-radius: 5px;
display: inline-block;
margin-bottom: 5px;
white-space: nowrap;
text-align: center;
width: fit-content;
}
.dark-mode .form-group.option label {
background-color: rgba(0,0,0,0);
color: white;
padding: 5px;
border-radius: 5px;
white-space: nowrap;
display: inline-block;
margin-bottom: 5px;
text-align: center;

}



@media screen and (max-width: 768px) {
    .container {
        text-align: center;
        max-width: 80%; /* Adjust maximum width for smaller screens */
        padding: 10px; /* Modify padding for smaller screens */
        margin: 0 auto; /* Center the container */
    }

    /* Adjust width for input fields and dropdowns */
    .form-group input[type="text"],
    .form-group input[type="password"],
    .form-group select,
    .fixed-dropdown,
    #inputcode,
    textarea {
        width: 60%; /* Full width for inputs on smaller screens */
    }
 
    #inputcode
    {
        width:480px;
        height:500px;
    }
    /* Adjust width for code inputs */
    .code {
        width: 0%;
        height: 100px;
    }
    textarea{
        width:400px;
    }

    .column-left,
    .column-right {
    width: 500px;
    padding: 10px;
    height:250px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .generatedCode {
    height:500px;
  }
  textarea{
    width:480px;
  }
  .column-left{
    margin-left:100px;
  }
  .column-right
  {
    height:800px;
  }
  .column-right
  {
    margin-top:75%;
    margin-left:-530px;
  }
    /* Navbar adjustments for smaller screens */
    .navbar {
        margin-top: -20px; /* Adjust margin */
        margin-bottom: 20px; /* Adjust margin */
        border-radius: 8px; /* Rounded corners */
    }

    .navbar a {
        padding: 10px; /* Adjust padding */
        font-size: 14px; /* Adjust font size */
    }
}